<div id="main-container" class="container-fluid">
    <div class="wrapper col-xs-11 col-sm-11 col-md-10 col-lg-8">
        <div class="navbar navbar-default title">
            <div class="navbar-brand">About</div>
        </div>
        <p>
            This is a demo project to experiment with WebSockets technology
            over the MEAN stack. It makes use of
            <a target="_blank" href="http://socket.io">socket.io</a>,
            a library that simplifies the use of WebSockets over
            <a href="http://nodejs.org">node.js</a>.
            I hope you find it interesting! 
        </p>
</div></div>
