<div id="main-container" class="container-fluid">
    <div class="wrapper col-xs-11 col-sm-11 col-md-10 col-lg-8">
        <div class="navbar navbar-default title">
            <div class="navbar-brand">
                <span class="hidden-xs">Messages </span>
                @{{ chat.roomList[chat.activeRoom].name }}
            </div>
            <div class="navbar-right">
                <a href="#" class="navbar-link hidden-xs">Leave room</a>
                <a href="#" class="navbar-link visible-xs text-right">
                    <i class="fa fa-eye-slash"></i>
                </a>
            </div>
        </div>
        <div id="chat-container">
            <span ng-repeat="message in chat.roomList[chat.activeRoom].messages"
                    ng-class="{ 'own-message': message.owned, sending: message.waitingAck, 'system-message': !message.author }">
                <strong ng-if="message.author">{{ message.author }} said:<br></strong>
                {{ message.body }}
            </span>
        </div>
        <form id="input-container" ng-submit="sendMessage()">
            <div class="form-group"><div class="input-group">
                <input type="text" class="form-control" ng-model="chat.message"
                        placeholder="Type a message...">
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="submit">Send!</button>
                </span>
            </div></div>
        </form>
</div></div>
