<div id="main-container" class="container-fluid">
    <div class="wrapper col-xs-11 col-sm-11 col-md-10 col-lg-8">

        <!-- TITLE -->
        <div class="navbar navbar-default title">
            <button type="button" class="navbar-toggle collapsed"
                    ng-click="input.toggled = !input.toggled" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">Messages</div>
        </div>

        <!-- CHAT WINDOW -->
        <div id="chat-container">
            <span ng-repeat="message in chat.messages | orderBy : 'date'" on-finish-render="ngRepeat_finished"
                    ng-class="{ message: true, 'own-message': message.owned, sending: message.waitingAck, 'system-message': !message.author }">
                <span class="message-author" ng-if="message.author">
                    {{ message.author }} said:
                </span>
                <br ng-if="message.author">
                {{ message.body }}
            </span>
        </div>

        <!-- MESSAGE BOX -->
        <form id="input-container" ng-submit="sendMessage()">
            <div class="form-group"><div class="input-group">
                <input type="text" class="form-control" ng-model="input.message"
                        placeholder="Type a message...">
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="submit">Send!</button>
                </span>
            </div></div>
        </form>

</div></div>
